.user-dashboard-container 
{
  text-align: center;
  padding: 40px;
  min-height: 80vh;
  background: #f9fafb;
}

.user-dashboard-container h2 
{
  color: #1e3a8a;
  margin-bottom: 30px;
}

.dashboard-options 
{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dashboard-btn
{
  padding: 15px 30px;
  background-color: #16a34a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dashboard-btn:hover 
{
  background-color: #13863c;
}